// ===== Colors ===== //
$red: hsl(0, 100%, 68%);
$red-hover: hsla(0, 100%, 68%, 0.75);
$very-dark-blue: hsl(230, 29%, 20%);
$dark-grayish-blue: hsl(230, 11%, 40%);
$grayish-blue: hsl(231, 7%, 65%);
$light-grayish-blue: hsl(207, 33%, 95%);

$border: 1px solid $dark-grayish-blue;

$font-primary: 'Barlow Condensed', sans-serif;
$font-secondary: 'Barlow', sans-serif;